
:root{
    --primary-dark: rgb(44, 44, 80);
    --secondary-dark: rgb(70, 70, 129);
    --primary-light: rgb(135, 135, 250);
    --secondary-light: rgb(109, 109, 202);
}

body{
    background-color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    margin-top: 30px;
    padding: 10px 0;
 }
 
 .title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 5px rgba(109, 109, 202, 0.7);
 }

 .main{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
 }

.sketchWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: var(--secondary-dark);
    box-shadow: rgba(0, 0, 0, 0.25) 10px 10px 10px;
    border-radius: 5px;
}

#sketch{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 550px;
    background-color: #ffffff;
    border-right: 1px solid rgb(146, 146, 146);
    border-bottom: 1px solid rgb(146, 146, 146);
}

.settings{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background-color: var(--secondary-dark);
    box-shadow: rgba(0, 0, 0, 0.25) 10px 10px 10px;
}

.row{
    display: flex;
    width: 100%;
}

.square{
    flex: 1;
    background-color: white;
    border-top: 1px solid rgb(146, 146, 146);
    border-left: 1px solid rgb(146, 146, 146);
}

div > button{
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: var(--primary-light);
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#colorBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div > button:hover{
    background-color: var(--secondary-light);
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
div > button.active{
    background-color: var(--primary-dark);
}

div > h3{
    font-size: 38px;
    color: white;
    text-shadow: 5px 5px 5px rgba(135, 135, 250, 0.7);
    margin-top: -10px;
    margin-bottom: 20px;
}

#sliderBar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 75%;
}

#sliderSizeDisplay{
    color: white;
    font-size: 16px;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: rgb(218, 218, 218);
    outline: none;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: var(--primary-light);
    cursor: pointer;
    border-radius: 50%;
}

#footer{
    text-align: center;
    padding: 30px 0px 10px 0px;
    color: var(--primary-light);
}

#github-logo{
    color: var(--primary-light);
    font-size: 22px;
    margin-right: 10px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}
#github-logo:hover{
    transform: scale(1.1) rotate(360deg);
    transition: transform 0.3s ease-in-out;
}